/* 
 * NG-SlimPOP 
 * ----------
 * Color's Palette
 */

// whites
$color_transparent: transparent;
$color_white: #ebf4fc;
$color_white_1: #f1f1f1;
$color_white_2: #e0e0e0;
//
$color_light_gray: #888;
$color_dark_gray: #474747;
$color_gray: #555;
// black
$color_black: #000000;
// red
$color_red: #ca0000;
// blue
$color_light_blue: #1899ff;
$color_blue: #0177d6;
$color_rgba_blue: rgba(1, 119, 214, 0.8);